html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	font-family: Tahoma;

	/*
	background-image: url("./assets/images/falcon.png");
	background-position: center;
	*/
}

.gui {
	position: absolute;
	display: none;
}

.splash-screen {
}

#loading-screen {
	color: white;
}
