html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	font-family: Tahoma;
	background-color: black;
}

.gui {
	position: absolute;
}

.splash-screen {
}

#loading-screen {
	color: white;
}
